		<section id="contact" class="contact">
			<div class="contact-grid">
				<div class="contact-info">
					<div class="contact-item">
						<div class="contact-header">
							<p>Contact Us</p>
						</div>
					</div>
					<div class="contact-item">
						<i class="fas fa-phone"></i>
						<p>(999) 999-9999</p>
					</div>
					<div class="contact-item">
						<i class="fas fa-comments"></i>
						<p>contact@company.com</p>
					</div>
					<div class="contact-item">
						<i class="fas fa-envelope"></i>
						<p>1234 Example Street<br>Boulder, CO 80303</p>
					</div>
				</div>

				<div class="contact-fields flex">
					<input type="text" name="" value="" placeholder="Name">
					<input type="text" name="" value="" placeholder="Email">
					<input type="text" name="" value="" placeholder="Subject">
					<textarea name="name" placeholder="Message"></textarea>
					<div id="send-button" class="flex">
						<p>Submit</p>
					</div>
				</div>
			</div>
		</section>
	</main>

	<script src="/scripts/index.js"></script>
	<script src="/scripts/app.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
	<script>
    var scroll = new SmoothScroll('a[href*="#contact"]');
	</script>
</body>
</html>
