<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/app.css">
	<script src="https://kit.fontawesome.com/b27b59cbbb.js"></script>
	<title>E-Commerce Template</title>
</head>
<body>
	<header class="border-bottom">
		<div class="container">
			<div class="header-grid">
				<div class="header-flexbox">
					<a href="/"><div class="brand-logo">
						<div class="brand-name">
							Example Name
						</div>
						<div class="brand-title">
							Skateboard Company
						</div>
					</div></a>
				</div>
				<div class="header-flexbox nav-links">
					<a href="/skate"><p>Skate</p></a>
					<a href="/clothing"><p>Clothing</p></a>
					<p>About</p>
					<a data-scroll href="#contact"><p>Contact</p></a>
				</div>
				<div class="header-flexbox social-icons">
					<i class="fab fa-facebook-square icon"></i>
					<i class="fab fa-twitter-square icon"></i>
					<i class="fab fa-instagram icon"></i>
				</div>
			</div>
		</div>
	</header>

	<div class="toggle-menu closed">
		<a href="/skate"><div class="menu-item first-menu">
			<p>Skate</p>
		</div></a>
		<hr class="style-one">
		<a href="/clothing"><div class="menu-item">
			<p>Clothing</p>
		</div></a>
		<hr class="style-one">
		<div class="menu-item">
			<p>About</p>
		</div>
		<hr class="style-one">
		<div class="menu-item">
			<a data-scroll href="#contact"><p>Contact</p></a>
		</div>
		<hr class="style-one">
		<div class="menu-item last-menu">
			<div class="menu-social-icons">
				<i class="fab fa-facebook-square"></i>
				<i class="fab fa-twitter-square"></i>
				<i class="fab fa-instagram"></i>
			</div>
		</div>
	</div>
